*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background:
  linear-gradient(#FF876C, #EF65A9, #9D59D5);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;,
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 10% 75%;
  grid-template-areas:
  "header"
  "choice-a-rhythm"
  "quiz";
}

.logo{
  padding: 20px;
}
button {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #9D59D5;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 10px;
  border: 0;
  color: #fff;
}
button:hover{
  background-color: #764b9a;
}


.header {
  background: #fff;
  grid-area: header;
}

.choice-a-rhythm {
  grid-area: choice-a-rhythm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quiz {
  grid-area: quiz;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.q-1, .q-2, .q-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
