{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
}

.navbar-brand img{
  width: auto;
  height: 35px;
  margin-top: -9px;
  margin-left: 30px;
}

#check{
  display: none;
}

#icone{
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1030;
  margin-top: 40px;
}

.icon-bars{
  font-size: 30px;
  color: #000000;
}

.barra{
  background-color: #ECECEC;
  height: 336px;
  width: 228px;
  position: absolute;
  transition: all .2s linear;
  left: -300px;
  margin-top: 40px;
}

nav{
  width: 100%;
  position: absolute;
  top: 70px;
}

.item label{
  display: block;
  padding: 10px;
  background-color: #434343;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  border-bottom: solid 2px #aaa;
}

.item label:hover{
  background-color: #FFE521;
  color: #000000;
  text-decoration: none;
}

.item ul{
  width: 100%;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all .4s linear
}

.item ul li a{
  width: 100%;
  height: 25px;
  display: block;
  text-decoration: none;
  background-color: #fafafa;
  color: #000000;
  border-bottom: solid 2px #aaa;
}

.item input:checked ~ ul{
  height: auto;
  max-height: 200px;
  transform: all;
}

.item input{
  display: none;
}

.item ul li a:hover{
  background-color: #FFE521;

}

nav a{
  text-decoration: none;
}

#check:checked ~ .barra{
  transform: translateX(300px);
}

#logo{
  position: absolute;
  margin-top: 10%;
  margin-left: 35%;
  transform: translate(-50%, -50%);
}

.pulse {
  animation: pulse 2.5s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.2);
    filter: brightness(150%);
  }
}
